*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: system-ui,  sans-serif;
}
/* header section related styles */
 .gamer-nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(250, 235, 215, 0.192);
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 130px;

 }
 .gamer-nav-div1{
display: flex;
justify-content: space-around;
margin: 38px 0px 0px 240px;
 }
 .gamer-nav-div1 > img{
    width: 86.041px;
    height: 40px;
    margin: 13px 20px 0px 0px;

 }
 .gamer-nav-h1{
    font-size: 45px;
 }
 .gamer-nav-h1 > span{
    color: rgba(248, 0, 207, 0.623);
 }
 .gamer-nav-div2{
   display: flex;
   justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    
    gap: 32px;
 }
 .gamer-nav-para{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 600;
    gap: 32px;
    margin: 54px 0px 0px 0px;
 }
 .gamer-nav-div2-child{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    height: 56px;
    width: 262px;
    display: flex;
    gap: 20px;
    margin: 40px 240px 0px 0px;
 }
 .gamer-nav-div2-child > p {
    padding: 15px 0px 0px 17px
 }
 .gamer-nav-div2-child > a{
    padding-top: 17px;
 }
 .gamer-nav-image{
    width: 33.916px;
height: 24px;
background-position: center;
background-repeat: no-repeat;
background-size: cover ;
 }
 /* main related styles */
 /* main section one related styles */
.main-section-one{
   
    width: 901px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    display: none;
}
.section-one-div-one{
    padding: 148px 0px 0px 240px;
    width: 901px;
    height: 700px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='901' height='700' viewBox='0 0 901 700' fill='none'%3E%3Cpath d='M856.689 0H0V700H810.267L880.954 492.442H736.716L901 182.122H784.946L856.689 0Z' fill='url(%23paint0_linear_61_300)' fill-opacity='30'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_61_300' x1='849.303' y1='8.64826' x2='26.1936' y2='739.179' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%238C57EE' stop-opacity='0.05'/%3E%3Cstop offset='1' stop-color='%23F144AE' stop-opacity='0.05'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    
}

.div-one-h2{
font-size: 48px;
text-transform: uppercase;
font-weight: 700;

}
.div-one-h1{
font-size: 100px;
font-weight: 900;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.main-section-one-ul > li {
display: flex;
font-size: 20px;
font-weight: 500;
opacity: 0.70;
padding-bottom: 17px;
}
.main-section-one-ul > li > img {
    height: 24px;
    width: 24px;
}
   
.main-section-one-btn{
margin-top: 20px;
}
.btn1{
    margin-right: 24px;
padding: 21px 40px;
gap: 10px;
border: 1px solid #F948B2;
border-radius: 48px;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.btn2{
    padding: 21px 40px;
gap: 10px;
border: 1px solid #4ec5f7;
border-radius: 48px;
background: #4ec5f7 ;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
/* .main-section-one-images{
    position: relative;
} */
.main-section-one-images > img{
    width: 761px;
    height: 850px;
}
/* play games related styles */
.play-games-section{
    display: flex;
    justify-content: space-between;
}
.play-games-section-div-one{
    margin-bottom: 100px;
}
.play-games-section-div-two{    margin: 248px 97px 0px 0px;}
.play-games-section-div-two > h3{
    font-size:48px ;
    font-weight: 700;
}
.play-games-section-div-two > p{
font-size: 18px;
line-height: 30px;

}
.div-one-image-one{
    margin: 83px 0px 0px 76px;

}
.div-one-image-two{
    margin: 0px 0px -92px -204px;
}
.span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); 
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* games catagory section related styles */
.catagroy-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.games{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 100px;
gap: 25px;
align-content: center;
}
.images{
    height: 60px;
    width: 60px;
    padding: 10px 0px 6px 12px;
}
.para{
    padding: 20px 0px 0px 12px;
    font-size: 20px;
    font-weight: 600;
}
.games1{
    width: 281px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    text-align: center;
    display: flex;
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.05);
}
.games1:hover{
    color: #F948B2;
    border:1px solid #F948B2 ;
    transition-duration: .5s;
}
.games2{
    width: 281px;
height: 80px;
border-radius: 50px;
background: #FFF;
text-align: center;
    display: flex;
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.05);
}
.games2:hover{
    color: #F948B2;
    border:1px solid #F948B2 ;
    transition-duration: .5s;
}
.games3{
    width: 281px;
    height: 80px;
    border-radius: 50px;
background: #FFF;
text-align: center;
    display: flex;
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.05);
}
.games3:hover{
    color: #F948B2;
    border:1px solid #F948B2 ;
    transition-duration: .5s;
}
.games4{
    width: 281px;
    height: 80px;
    border-radius: 50px;
background: #FFF;
text-align: center;
    display: flex;
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.05);
}
.games4:hover{
    color: #F948B2;
    border:1px solid #F948B2 ;
    transition-duration: .5s;
}
.games5{
    text-align: center;
    display: flex;
    width: 281px;
    height: 80px;
    border-radius: 50px;
background: #FFF;
box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.05);
}
.games5:hover{
    color: #F948B2;
    border:1px solid #F948B2 ;
    transition-duration: .5s;
}
.games6{
    text-align: center;
    display: flex;
    width: 281px;
    height: 80px;
    border-radius: 50px;
background: #FFF;
box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.05);
}
.games6:hover{
    color: #F948B2;
    border:1px solid #F948B2 ;
    transition-duration: .5s;
}
.games7{
    text-align: center;
    display: flex;
    width: 281px;
    height: 80px;
    border-radius: 50px;
background: #FFF;
box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.05);
}
.games7:hover{
    color: #F948B2;
    border:1px solid #F948B2 ;
    transition-duration: .5s;
}
.games8{
    text-align: center;
    display: flex;
    width: 281px;
    height: 80px;
    border-radius: 50px;
background: #FFF;
box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.05);
}
.games8:hover{
    color: #F948B2;
    border:1px solid #F948B2 ;
    transition-duration: .5s;
}
.games9{
    text-align: center;
    display: flex;
width: 281px;
height: 80px;
border-radius: 50px;
background: #FFF;
box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.05);
}
.games9:hover{
    color: #F948B2;
    border:1px solid #F948B2 ;
    transition-duration: .5s;
}
/* footer related styles */
.footer-div-parent{
    /* position: relative; */
    height: 636px;
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 600;
    margin-top: 149px;
    padding-top: 120px;
    line-height: 66px;
    
}
.footer-div-child1{
    display: flex;
    justify-content: center;
}
.footer-div-child1 > img {
    width: 86.041px;
    height: 40px;
    margin: 15px 37px 0px 0px;
}

.footer-div-child1 > h1 {
    font-size: 45px;
   
}
.footer-div-child1 > h1 > span{
    color: rgb(255, 6, 214);
}
.anch{
    text-decoration: none;
color: white;
padding-right: 60px;
}
.anchor {
text-decoration: none;
color: white;
font-weight: 200;
padding-right: 60px;


}
.footer-div-child3{
    margin-top: 30px;
}
.img{
    padding-right: 60px;
}

/* media screen related styles */


/* for tablets screen related styles */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .gamer-nav{
      width: max-content;
      gap: 170px;
    }
    .footer-div-parent{
        width: 284vh;
        padding-left: 20px;
        font-size: 30px;
    }
    .games {
        grid-template-columns: repeat(3, 1fr);
        gap: 65px;
        width: 100%;
        margin: 40px 0px 0px 486px;
    }
    
    .play-games-section-div-two{
        margin: 76px 0px 5px 212px;
    }
    .div-one-image-one{
        margin: 75px 0px 0px 136px;
    }
    .div-one-image-two{
        margin: -213px 0px 0px 21px;
    }
   } 
/* for mobile screen related styles */
@media screen and (max-width: 576px) {
    
    .play-games-section{
        flex-direction: column;
    }
    .div-one-image-one{
        width: 65%;
        justify-content: center;
        align-items: center;
        margin: 223px 0px 0px 30px;
    }
    .div-one-image-two{
        width: 29%;
        margin: -84px 0px 0px 237px;
    }
    .games {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
    }
    .catagroy-section{
        margin-top: 300px;
    }
    .games1, .games2, .games3, .games4, .games5, .games6, .games7, .games8, .games9 {
        width: 100%;
        height: auto;
       
        
    }
    .games1, .games2, .games3, .games4, .games5, .games6, .games7, .games8, .games9, .para ,.images{
        font-size: 10px;
    }
    .images{
height: 33px;
width: 33px;
    }
    .gamer-nav {
      flex-direction: column;
      background-color: transparent;
      box-shadow: none;
    }
  
    .gamer-nav-div1 {
      margin: 20px 0;
      justify-content: center;
    }
  
    .gamer-nav-h1 {
      font-size: 35px;
      text-align: center;
    }
  
    .gamer-nav-div2 {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    .gamer-nav-para {
      margin: 20px 0;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  
    }
  
    .gamer-nav-div2-child {
      margin: 20px 0;
      justify-content: center;
    }
   .footer-div-parent{
    text-align: center;
    font-size: 11px;
    height: 100%;
    margin-top: 50px;
   }
  } 
  
  